@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color:#987185;
    height: 290px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
.title{
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.celsius, .fehrenheit, .kalvin{
    width: 300px;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

.form{
    width: 500px;
    height: 200px;
    margin: auto;
}
.celsiusDiv, .fehrenheitDiv, .kalvinDiv {
    display: flex;
    justify-content: space-between;

}
@media (max-width: 360px) {
    .main{
        width: 350px;
        height: 250px;
    }
    .title {
        width: 350px;
        font-size: 13px;
    }

.form{
    width: 300px;
    height: 200px;
    margin: auto;
}
.celsius, .fehrenheit, .kalvin{
    width: 200px;
    margin-bottom: 30px;
    height: 30px;
}
}